{% extends 'agregar_aviso_adopcion/base.html' %}

{% block content%}
    <form id="form_aviso_adopcion" method="post" action="{{url_for('post_aviso')}}" enctype="multipart/form-data">
        <!--Lugar de entrega-->
        <div>
            <section>
                <h2>Lugar de entrega</h2>
                <label for="region">Región</label>
                <select name="region" id="region" required>
                    <option value="">Seleccione una región</option></select>

                <label for="comuna">Comuna</label>
                <select name="comuna" id="comuna" required>
                    <option value="">Seleccione una comuna</option></select>

                <label for="sector">Sector</label>
                <input name="sector" type="text" id="sector" required>
            </section>
        </div>

        <!--Contacto-->
        <div>
            <section>
                <h2>Contacto</h2>
                <label for="nombre">Nombre</label>
                <input type="text" minlength="3" maxlength="200" id="nombre" required name="nombre">

                <label for="email">Email</label>
                <input type="email" maxlength="100" required id="email" name="email">

                <label>Número de telefono</label>
                <input type="tel" required id="telefono" name="tel">
                <div id = mContacto_div>
                    <label for="metodo_contacto">Método de contacto</label>
                    <select name="metodo_contacto[]" id="metodo_contacto">
                        <option value="none">Seleccione un método de contacto</option>
                        <option value="whatsapp">Whatsapp</option>
                        <option value="telegram">Telegram</option>
                        <option value="x">X</option>
                        <option value="instagram">Instagram</option>
                        <option value="tiktok">Tik tok</option>
                        <option value="otra">Otra</option>
                    </select>
                    <input type="text" name="contacto_detalle[]" placeholder="Ingrese su contacto" minlength="4" maxlength="50" required id="detalle_contacto">
                </div>

                <button type="button" id="agregar-contacto">Agregar otro método</button>
            </section>
        </div>

        <!--Información mascota-->
        <div>
            <section>
                <h2>Información Mascota</h2>
                <label for="tipo_mascota">Tipo</label>
                <select name="tipo_mascota" id="tipo_mascota" required>
                    <option value="">Seleccione el tipo de su mascota</option>
                    <option value="perro">Perro</option>
                    <option value="gato">Gato</option>
                </select>

                <label for="cantidad_mascota">Cantidad</label>
                <input type="number" name="cantidad_mascota" id="cantidad_mascota" required min="1" value = "1">

                <label for="edad_mascota">Edad</label>
                <input type="number" name="edad_mascota" id="edad_mascota" required min="1" value="1">

                <label for="u_medida">Unidad de medida</label>
                <select name="u_medida" id="u_medida" required>
                    <option value="">Seleccione la unidad de medida de la edad</option>
                    <option value="a">Años</option>
                    <option value="m">Meses</option>
                </select>

                <label for="fecha_disponible">Fecha disponible</label>
                <input type="datetime-local" name="fecha_disponible" id="fecha_disponible" required>

                <label>Descripción</label>
                <textarea name="descripcion" cols="50" rows="10" id="descripcion"></textarea>
                <div id="foto_div">
                    <label for="foto_mascota">Fotos</label>
                    <input type="file" name="foto_mascota[]" id="foto_mascota" required>
                </div>
                <button id="boton_agregar_foto" type="button">Agregar otra foto</button>
            </section> 
            <div id="confirmContainer"></div>
            <div id="boton_portada"></div>   
        </div>
    </form>
    <button id="boton_agregar_aviso">Agregar este aviso de adopción</button>

{% endblock content %}
{% block javascript %}
    <script lang="javascript" src="{{ url_for('static', filename='js/region_comuna.js') }}"></script>
    <script lang="javascript" src="{{ url_for('static', filename='js/validaciones_nuevo_aviso.js') }}"></script>
{% endblock %}