<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Adopta Un Animalito{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/portada.css') }}">
  </head>
  <body>
    <header>
      <h1>Adopta un animalito!</h1>
      <nav class="navbar">
        <a class="navbar-page" href="{{ url_for('post_aviso') }}">Agregar aviso de adopción</a>
        <a class="navbar-page" href="{{ url_for('listado_avisos') }}">Ver listado de adopciones</a>
        <a class="navbar-page">Estadística</a>
      </nav>
    </header>

    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>